[data-block-handle="jackpot-spin-and-shop"] {
  margin-block: 50px;
  padding: 15px;
  box-shadow: 0 0 50px 10px #dddddd;
  border-radius: 20px;
  border:1px solid #f1f1f1;
}
.section-left {
  /* flex-grow: 1; */
}
@media(min-width:768px){
  [data-block-handle="jackpot-spin-and-shop"] {
    padding: 30px;
}
}
.slots-jackpot{
  display: flex;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
  height: var(--image-ratio-mobile);
  gap: .5rem;
  margin-inline: auto;
}
@media(min-width: 768px) {
  .slots-jackpot{
  gap: 1rem;
    height: var(--image-ratio-desktop);
  }
}

.slot-jackpot{
  width: var(--image-ratio-mobile-width);
  overflow: hidden;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
@media(min-width: 768px) {
  .slot-jackpot{
    width: var(--image-ratio-desktop);
  }
}

ul.list-jackpot{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  transition: top 1.5s ease-out;
}

li.product-jackpot{
  height: var(--image-ratio-mobile);
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: #f9f9f9;
  position: relative;
}
@media(min-width: 768px) {
  li.product-jackpot{
    height: var(--image-ratio-desktop);
  }
}

.product-image-jackpot{
  display: flex;
  height: auto;
  width: 100%;
}

#spinButton-jackpot{
  display: block;
  text-align: center;
  height:60px;
  position:relative;
  margin-top:5px;
}


img.spin-images {
  width: 80px;
  height: auto;
  margin-inline: auto;
  position: absolute;
  inset: 0;
  top: auto;
}
@media(min-width: 768px) {
  #spinButton-jackpot{
    height:70px;
  }
  img.spin-images {
    width: 100px;
  }
}

section.m-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.section-right {
  min-width: 300px;
}
@media(min-width: 768px) {
  .slot-item-details-jackpot {
    position: absolute;
    inset: 0;
    top: unset;
    background: rgba(240, 248, 255, 0.4705882353);
  }
}

@media(max-width: 767px) {

h5.product-title{
  text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px!important;
}
}
h5.product-title , p.product-price-jackpot {
  margin: 5px;
  line-height: 1.2;
  color: var(--app-textColor);
}
@media(min-width: 768px) {
  h5.product-title , p.product-price-jackpot {
    margin: 10px;
  }
  h5.product-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

h5.product-title a {
  color: var(--app-textColor);
  font-weight: 500;
  text-decoration: unset;
  font-size: 12px;
}

button#add-to-cart-button-jackpot{
  background: var(--button-bg);
  color: #fff;
  border: none;
  height: 40px;
  padding-inline: 0;
  text-transform: uppercase;
  border-radius: 5px;
  cursor:pointer;
  width:150px;
  margin-block:1rem;
}

.text-center {
  text-align: center;
} 
.jackpot-product-details {
    text-align: center;
}
.mrp-price {
    color: red;
}

.save-price {
    color: green;
}

.deal-price {
    color: #d5932e;
}
#add-to-cart-button-jackpot.active .atc-name{
  display:none;
}
#add-to-cart-button-jackpot.active .spin-loader{
  display:inline!important;
}
h2.m-heading {
  margin-block: 0 1rem;
  text-transform: capitalize;
}
.sub-heading {
  font-size: 16px;
  max-width: 280px;
  margin-inline: auto;
  color:#efb357;
}
@media(min-width:768px){
  .sub-heading {
    font-size: 18px;
  max-width: unset;
}
section.m-container{
  gap: 2rem;
}
}
.m-headers {
  margin-block: 20px 30px;
} 

h2.m-heading.main-heading.text-center {
  color: var(--app-textColor);
  font-weight: 700;
  font-family: inherit;
}


#jackpotOpenModal{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: #eeb256;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    z-index: 99;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 40px;
    cursor: pointer;
}
#spin-and-shop{
   top: auto;
    margin: 0;
    width: 100%;
    max-width: 100%;
    border: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0;
    background: transparent;
}
section.spin-and-shop-container {
  position: fixed;
  inset: 0;
  top: unset;
  margin: 0;
  width: 100%;
  max-width: 100%;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(100vh);
  transition: transform 1s;
  background: #fff;
  padding: 20px;
  overflow: hidden;
}
section.spin-and-shop-container.active{
  transform: translateY(0);
  transition: transform 1s;
  background : #fff;
}

dialog#spin-and-shop::backdrop {
  background: #00000090;
}
div#minimize-btn {
  width: 40px;
  height: 3px;
  background: var(--app-textColor);
  position: absolute;
  top: 10px;
  z-index: 9999;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50px;
  display: block;
}
button#add-to-cart-button-jackpot[disabled] {
  opacity: .8;
}
@media(max-width:767px){
  .section-right {
    min-width: 300px;
    min-height: 200px;
}

}
#spin-and-shop::-webkit-scrollbar, section.spin-and-shop-container::-webkit-scrollbar {
  display: none;
}
div#jackpot-close-button {
  display: inline-block;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
div#jackpot-close-button svg {
  fill: var(--app-textColor);
}
button#go-to-cart-button-jackpot {
  background: var(--button-bg);
  color: #fff;
  border: none;
  height: 40px;
  padding-inline: 0;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-block: 1rem;
  margin-inline: auto;
}
.hide{
  display: none!important;
}
.show{
  display: block!important;
}
button#jackpot-icon {
  display: none;
}
@media(min-width:767px){
  @keyframes flicker-zoom {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  button#jackpot-icon {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    display: block;
    width: 60px;
    aspect-ratio: 1/1;
    font-size: 36px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
    z-index: 99;
    background: #ececee;
    animation: flicker-zoom 4s infinite;
  }
  

#jackpotOpenModal{
  display: none;
}
}